.parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.parallax {
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;

    /* BG behaviour */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.clock{
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
}

.imgGallery{
    border-radius: 10px;
}

.btnexpand{
    background-color: transparent;
    border-style: none;
    transition: 0.3s;
}

.expand{
    font-size: 3rem;
    color: rgba(255,255,255,0.5);
    transition: 0.3s;
}

.expand:hover{
    color: rgba(255,255,255,1);
}

.nav-link{
    transition: 0.9s;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #d63384 !important;
    background: transparent;
}

.nav-link:hover {
    color: #d63384 !important;
    background: transparent;
}

.music_button i{
    color: #fbccd1;
    transition: 0.5s;
}

.music_button i:hover {
    color: #d63384;
}